<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <LinkTo @route="index" class="navbar-item">
      Journal
    </LinkTo>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <LinkTo @route="entries.new" class="navbar-item">
        New
      </LinkTo>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-3 is-vertical is-parent">
        <div class="tile is-child box">
          <div class="level">
            <div class="level-left">
              <h2 class="title">Questions</h2>
            </div>
            <div class="level-right">
              <span class="tag is-medium is-info">
                <LinkTo @route="questions.new" class="has-text-white-bis">Add</LinkTo>
              </span>
            </div>
          </div>
          
          <p>Blah</p>

          <hr>
        </div>
      </div>
      <div class="tile is-parent">
        {{outlet}}
      </div>
    </div>
  </div>
</section>